<div class="col">
    <label>City: </label>
    <strong>{{ city }}</strong>
</div>
<div class="col">
    <label>Country: </label>
    <strong>{{ country }}</strong>
</div>
<div class="col">
    <label>Date: </label>
    <strong>{{ dateTime }}</strong>
</div>
<div class="col">
    <label>Temperature: </label>
    <strong>{{ temperature }}&deg; C</strong>
</div>
<div class="col">
    <label>Weather condition: </label>
    <strong>{{ condition }}</strong>
</div>
